s.h1,
h2,
* {
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 60px;
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;

  span {
    font-size: 80px;
  }
}

.bg-personal {
  background-color: gray;
}