<div class="w-100 bg-light-personal d-flex align-items-center justify-content-center">
    <h2 class="pt-4">{{action}}</h2>
</div>
<div class="p-3 text-center position-relative bg-white">
    <mat-dialog-content class="py-2">
        <div class="bg-light border rounded shadow-sm" *ngIf="recensione!=null">
            <div class="w-100 text-center bg-light-personal d-flex justify-content-center pt-2 rounded-top">
                <img src="{{giocoImage}}" class="gioco-image" alt="immagine gioco">
                <p class="p-2 fs-4">{{giocoName}}</p>
            </div>
            <div class="py-4">
                <div class="d-flex justify-content-center">
                    <i class="bi bi-star-fill h3" *ngFor="let vp of validationPoints, index as i"
                        [ngClass]="i+1<=recePoints?'text-warning':'text-secondary'" (click)="recePoints=i+1;"></i>
                </div>
                <div>
                    <p class="d-flex justify-content-center align-items-end">
                        <img src="{{user.immagineProfilo}}" alt="profile image" class="rounded-circle border">
                        <span class="px-3 fs-5">{{user.fullName}}</span>
                    </p>
                    <textarea class="p-2 fs-4" cols="40" rows="3" [disabled]="action!='Modifica'"
                        oninput="this.style.height = '';this.style.height = this.scrollHeight + 'px'" #commento
                        value=" {{recensione?.commento}}" (input)="recensione.commento=commento.value;"
                        style="height : fit-content">
                        </textarea>
                </div>
            </div>
        </div>
        <div *ngIf="giocoName!=null" [style.height]="'100px'">
            <p class="fs-1">
                Sei sicuro di voler {{getLowerAction(action)+"re" + " " + giocoName}} ?
            </p>
        </div>
        <div *ngIf="categoria!=null && action != 'Elimina'" class="py-4">
            <form [formGroup]="categoriaForm">
                <label for="categoria" class="fs-2 py-2 text-start">{{getLowerAction(action) + " il nome dellacategoria"
                    }}
                    <span class="text-success fw-bold">{{categoria.id + " -" +
                        categoria.nome}}</span></label>
                <input type="text" class="form-control fs-4 mt-4" placeholder="Inserisci una categoria"
                    formControlName="categoria" id="categoria">
            </form>
        </div>
        <div *ngIf="torneo!=null && action != 'Elimina'" class="py-4">
            <form [formGroup]="torneoForm">
                <label for="categoria" class="fs-2 py-2 text-start">{{getLowerAction(action) + " il nome del torneo"
                    }}
                    <span class="text-success fw-bold">{{torneo?.id + " -" +
                        torneo?.name}}</span></label>
                <input type="text" class="form-control my-3" formControlName="torneo">
                <p class="mt-3 fs-4">
                    <u>
                        *Per ragioni amministrative puoi cambiare solo il nome del torneo.
                    </u>
                </p>
            </form>
        </div>
        <div *ngIf="(recensione == null && giocoName == null && categoria == null && torneo == null) ||(recensione == null && giocoName == null  && torneo == null && action == 'Elimina')"
            [style.height]="'100px'">
            <p class="fs-2">
                Vuoi davvero {{action == 'Accetta' ? ' accettare ': action == 'Rifiuta'? ' rifiutare ' : action ==
                'Modifica'? 'modificare' : action == 'Elimina'? 'eliminare': ' annullare '}}
                {{action=='Modifica' || action =='Elimina'?torneo!=null?'il torneo':'la categoria':'la richiesta'}}
                <span class="text-danger">
                    {{categoria?(categoria.id + " - " +
                    categoria.nome):''}}
                </span>
                <span class="text-danger">
                    {{torneo?torneo?.name:''}}
                </span>??
            </p>
        </div>
    </mat-dialog-content>
</div>
<div mat-dialog-actions class="bg-white">
    <mat-dialog-actions class="text-end mt-5">
        <button class="btn m-1 fs-4" matTooltip="{{action}}" [matTooltipPosition]="'above'" s (click)="modifica()"
            [ngClass]="action == 'Elimina'?'btn-outline-danger':'btn-light'">{{action}}</button>
        <button class="btn btn-secondary m-1 fs-4" matTooltip="Esci" [matTooltipPosition]="'above'"
            [mat-dialog-close]="false">Esci</button>
    </mat-dialog-actions>
</div>