<div mat-dialog-title class="text-center">
    <h1>Immagini</h1>
</div>
<div class="w-100 p-3 row" mat-dialog-content>
    {{index}}
    <div class="d-flex justify-content-evenly">
        <button class="btn" (click)="goBack(index-1)">
            <i class="bi bi-arrow-left h1"></i>
        </button>
        <button class="btn" (click)="goAhed(index+1)">
            <i class="bi bi-arrow-right h1"></i>
        </button>
    </div>
    <img src="{{imagesUrl[index]}}" class="w-100" alt="Immagine caricata">
</div>