[mat-dialog-content] {
    height: fit-content;
}

.image {
    height: 300px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: whitesmoke;
}

.pointer {
    cursor: pointer;
}