<div class="row">
    <div class="col-12">
        <h1>Tornei
        </h1>
    </div>
    <div class="col-12 p-3">
        <button class="btn" (click)="aggiungiTorneo()">
            <i class="bi bi-plus h2 fw-bolder" matTooltip="Aggiungi" [matTooltipPosition]="'above'"></i>
        </button>
    </div>
    <div class="col-12 p-3">
        <form [formGroup]="filtersForm" class="w-100">
            <div class="w-100 m-auto  filtri-container p-2 overflow-x-scroll d-flex">
                <div class="p-2" *ngFor="let f of filters">
                    <div class="border shadow-sm p-2 px-5 text-center filter-container" [style.height]="'100%'">
                        <p class="fs-4">{{f}}</p>
                        <input type="text" class="form-control" *ngIf="f == 'Nome' || f == 'Gioco'"
                            [formControlName]="f.toLowerCase()" (change)="updateFilters()">
                        <input type="date" class="form-control" *ngIf="f == 'Creazione' || f == 'Inizio' || f == 'Fine'"
                            [formControlName]="f.toLowerCase()" (change)="updateFilters()">
                        <input type="number" class="form-control" [formControlName]="f.toLowerCase()"
                            *ngIf="f=='Pagina'" (change)="updateFilters()" (input)="checkValue(pageNumber.value);"
                            #pageNumber [max]="maxPage||0" [min]="1">
                        <select name="{{f}}" id="{{f}}" class="form-select"
                            *ngIf="f=='Elementi'|| f =='Ordina'|| f =='Stato'" [formControlName]="f.toLowerCase()"
                            (change)="updateFilters()">
                            <option value="{{e}}" *ngFor="let e of giveBackArray(f)">{{e}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="w-100 text-center pt-5">
                <button class="btn btn-light border" (click)="getTornei()"> Cerca <i
                        class="bi bi-search h5 mx-2"></i></button>
            </div>
        </form>
    </div>
    <div class="col-12 py-5 d-flex justify-content-center" *ngIf="showTorneiSpinner">
        <mat-spinner [color]="'warn'"></mat-spinner>
    </div>
    <div class="col-12" *ngIf="(!tornei || tornei?.content?.length == 0)&&!showTorneiSpinner">
        <h2>Non ci sono tornei ...</h2>
    </div>
    <div class="col-12 tuornament-container" *ngIf="(tornei && tornei?.content?.length > 0)&&!showTorneiSpinner">
        <div class="row p-3 my-2 shadow-sm border tournament-container" *ngFor="let t of tornei?.content">
            <div class="col-md-4 tournament-gioco-image-container shadow-sm">
                <div class="w-100 tournament-gioco-image"
                    style.background="url({{'data:image/png;base64,'+ t?.gioco?.image}})">

                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end align-items-center">
                        <button class="btn btn-outline-secondary mx-1" matTooltip="Modifica" matTooltipPosition="above"
                            (click)="openDialog('Modifica',t)">
                            <i class="bi bi-pencil h3"></i>
                        </button>
                        <button class="btn btn-outline-danger mx-1" matTooltip="Elimina" matTooltipPosition="above"
                            (click)="openDialog('Elimina',t)">
                            <i class="bi bi-trash h3"></i>
                        </button>
                    </div>
                    <div class="col-12">
                        <h2 class="text-center">
                            {{t.name}}
                        </h2>
                    </div>
                    <div class="col-md-4">
                        <p class="fs-4 text-center">
                            Stato
                        </p>
                        <p class="fs-5 text-center fw-bold"
                            [ngClass]="t?.tournamentState =='ANNUNCIATO'?'text-info' : t?.tournamentState =='IN_CORSO'?'text-success':'text-danger'">
                            {{t?.tournamentState}}
                        </p>
                    </div>
                    <div class="col-md-8">
                        <p class="fs-4 text-center">
                            Date
                        </p>
                        <p class="fs-5 text-center fw-bold">
                            <span class="mx-2">{{t?.startDate}}</span>
                            <span class="mx-2">{{t.endDate}}</span>
                        </p>
                    </div>
                </div>
                <hr class="my-4">
                <div class="col-12 pt-3 fs-4 text-center" *ngIf="(t?.users?.length == 0 || !t?.users)else usersLength">
                    Diventa il primo a partecipare!
                </div>
                <ng-template #usersLength>
                    <div class="col-12 pt-3 fs-4 text-center">
                        {{t?.users?.length==1? (t?.users?.length +'
                        user ha' ):
                        (t?.users?.length +' users hanno')}}
                        già giocato.
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center py-3">
                <button class="btn" matTooltip="Vai indietro" matTooltipPosition="above"
                    (click)="handlePageEvent('minus')">
                    <i class="bi bi-arrow-left-circle-fill h1" *ngIf="!tornei.first"></i>
                </button>
                <p>
                    Elementi {{(size*(page)-(size-1))+" - " +
                    (size*(page)>tornei.totalElements?tornei.totalElements:size*(page)) +" di " +
                    tornei.totalElements }}
                </p>
                <button class="btn" matTooltip="Vai avanti" matTooltipPosition="above"
                    (click)="handlePageEvent('plus')">
                    <i class="bi bi-arrow-right-circle-fill h1" *ngIf="!tornei.last"></i>
                </button>
            </div>
            <div class="col-12 text-center">
                <p>
                    Pagina {{tornei.number+1}} di {{tornei.totalPages}}
                </p>
            </div>
        </div>
    </div>
</div>