.to-point {
    background-image: url('../../../../public/assets/utils/avatar.jpg');
    cursor: pointer;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: whitesmoke;
}