.to-point {
    background-image: url('../../../../public/assets/utils/avatar.jpg');
    cursor: pointer;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: whitesmoke;
}

::ng-deep p-autocomplete {
    input {
        background-color: white !important;
        color: black !important;
        margin: auto;
        width: 100%;
    }
}

.step-3 {
    line-height: 1.2;
}