<div class="w-100 py-5 overflow-hidden home-container" [ngClass]="mode=='light'?'bg-white':'bg-personal'">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-12 p-4">
                <h1 class="text-center title py-3">A new game <span
                        class="text-danger link-underline-danger">experience</span>.</h1>
                <p class="fs-4 pt-3 text-center">Something you've <span class="text-danger"> <u>never</u></span> felt
                    before <span class="fs-3 pt-3">🔥</span> </p>
            </div>
            <!-- <div class="col-md-12 p-5 first-background">
            </div> -->
        </div>
        <div class="row py-5 my-5">
            <div class="col-md-12 py-5 my-5">
                <div class="row py-5 my-5">
                    <div
                        class="p-3 my-2 col-xl-3 col-md-6 d-flex flex-column justify-content-center align-items-middle text-center">
                        <div class="border p-3 shadow first-cards">
                            <p class="pt-2 fs-1">Quality</p>
                            <!-- <img src="assets/home/icons/quality.png" alt="icon" class="w-50 pt-2"> -->
                            <p class="pt-5 mt-5 personal-emoji">🏅</p>
                        </div>
                    </div>
                    <div
                        class="p-3 my-2 col-xl-3 col-md-6 d-flex flex-column justify-content-center align-items-middle text-center">
                        <div class="border p-3 shadow first-cards">
                            <p class="pt-2 fs-1">Immersion</p>
                            <!-- <img src="assets/home/icons/gamer.png" alt="icon" class="w-50 pt-2"> -->
                            <p class="pt-5 mt-5 personal-emoji">🗺️</p>
                        </div>
                    </div>
                    <div
                        class="p-3 my-2 col-xl-3 col-md-6 d-flex flex-column justify-content-center align-items-middle text-center">
                        <div class="border p-3 shadow first-cards">
                            <p class="pt-2 fs-1">Improvement</p>
                            <!-- <img src="assets/home/icons/improve.png" alt="icon" class="w-50 pt-2"> -->
                            <p class="pt-5 mt-5 personal-emoji">📲</p>
                        </div>
                    </div>
                    <div
                        class="p-3 my-2 col-xl-3 col-md-6 d-flex flex-column justify-content-center align-items-middle text-center">
                        <div class="border p-3 shadow first-cards">
                            <p class="pt-2 fs-1">Movement</p>
                            <!-- <img src="assets/home/icons/movement.png" alt="icon" class="w-50 pt-2"> -->
                            <p class="pt-5 mt-5 personal-emoji">🌀</p>
                        </div>
                    </div>
                    <div class="col-md-12 py-5">
                        <p class="text-danger fs-1 w-75 m-auto fw-bolder lh-1 text-center py-5 my-5">
                            DISCOVER THE NEW TECHNOLOGIES WE USE, NEW FEATURES THAT
                            ENTERTAIN YOU.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <h1>I nostri numeri</h1>
            </div>
            <div class="col-10 m-auto card flex justify-center bg-gradient-one shadow">
                <p-chart type="bar" [data]="data" [options]="options" />

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center my-5">
                    <h1 class="py-4">Lorem ipsum 🌌</h1>
                </div>
                <div class="col-lg-4 col-md-7 m-auto py-5 p-3 text-center flip-card">
                    <div class="flip-card-inner rotate-left">
                        <div class="flip-card-front bg-white flip-1 shadow border">
                            <img src="assets/home/images.png" alt="a_classic_game_image" title="a_classic_game_image"
                                class="w-100">
                            <div class="m-auto w-75 text-center">
                                <p class="fs-1 fw-bold">
                                    Lorem ipsum
                                </p>
                                <p class="fs-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et
                                    dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="flip-card-back bg-white flip-1 shadow">
                            <div class="w-100 m-auto p-3">
                                <h2 class="text-danger">
                                    <u>
                                        Lorem ipsum
                                    </u>
                                </h2>
                                <p class="fs-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris
                                    nisi ut
                                    aliquip
                                    ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do
                                    eiusmod
                                    tempor incididunt ut
                                    labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris
                                    nisi ut
                                    aliquip
                                    ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-5 d-flex flex-column justify-content-center align-items-center">
                    <p class="fs-1 line-height">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et
                        dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut
                        labore et
                        dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut
                        labore et
                        dolore magna aliqua.
                    </p>
                </div>
                <div class="col-12 py-4 my-5 text-center">
                    <h1>Lorem ipsum 🌄</h1>
                </div>
                <div class="col-lg-8 col-md-5 d-flex flex-column justify-content-center align-items-center">
                    <p class="fs-1 line-height">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et
                        dolore magna aliqua.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et
                        dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut
                        labore et
                        dolore magna aliqua.
                    </p>
                </div>
                <div class="col-lg-4 col-md-7 m-auto py-5 p-3 text-center flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front bg-white flip-2 shadow border">
                            <img src="assets/home/images.png" alt="a_classic_game_image" title="a_classic_game_image"
                                class="w-100">
                            <div class="m-auto w-75">
                                <h2 class="fw-bold">
                                    Lorem ipsum
                                </h2>
                                <p class="fs-2">.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                    eiusmod tempor
                                    incididunt ut
                                    labore et
                                    dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="flip-card-back bg-white flip-2 shadow border">
                            <div class="w-100 m-auto p-3">
                                <h2 class="text-danger">
                                    <u>
                                        Lorem ipsum
                                    </u>
                                </h2>
                                <p class="fs-1 line-height">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris
                                    nisi ut
                                    aliquip
                                    ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do
                                    eiusmod
                                    tempor incididunt ut
                                    labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris
                                    nisi ut
                                    aliquip
                                    ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 py-5 my-5 text-center">
                    <h1>Lorem ipsum 🌟</h1>
                </div>
                <div class="col-lg-4 col-md-7 m-auto py-5 p-3 text-center flip-card">
                    <div class="flip-card-inner rotate-right">
                        <div class="flip-card-front bg-white flip-3  shadow border">
                            <img src="assets/home/images.png" alt="a_classic_game_image" title="a_classic_game_image"
                                class="w-100">
                            <div class="m-auto w-75">
                                <p class="fs-1 fw-bold">
                                    Lorem ipsum
                                </p>
                                <p class="fs-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et
                                    dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="flip-card-back bg-white flip-3 shadow border">
                            <div class="w-100 m-auto p-3">
                                <h2 class="text-danger">Lorem ipsum</h2>
                                <p class="fs-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris
                                    nisi ut
                                    aliquip
                                    ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do
                                    eiusmod
                                    tempor incididunt ut
                                    labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris
                                    nisi ut
                                    aliquip
                                    ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-5 d-flex flex-column justify-content-center align-items-center">
                    <p class="fs-1 line-height">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et
                        dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut
                        labore et
                        dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut
                        labore et
                        dolore magna aliqua.
                    </p>
                </div>
                <div class="col-12 text-center pt-5 mt-5">
                    <h1>Lorem ipsum</h1>
                </div>
                <div class="col-12 overflow-auto p-5 my-5 d-flex" #div (mousemove)="sizeScroll($event,div)">
                    <div *ngFor="let g of giochi?.content" class="p-2 mx-4 border shadow text-center first-cards my-5"
                        [style.minWidth]="'550px!important'">
                        <div class="row">
                            <div class="col-12">
                                <h2>{{g?.nomeGioco}}</h2>
                            </div>
                            <div class="col-12">
                                <div class="position-relative gioco-image-container overflow-hidden p-2">
                                    <div class="gioco-image position-absolute top-0 w-100"
                                        style.backgroundImage="url({{'data:image/png;base64,' + g?.image}})">
                                    </div>
                                    <div class="description position-absolute top-0 fs-2 w-100">
                                        {{g?.descrizione}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="border shadow-sm mt-2 position-relative rece">
                                    <div class="w-100 bg-warning position-absolute top-0"></div>
                                    <div class="position-absolute top-0">
                                        <p class="fs-1">Recensioni</p>
                                    </div>
                                    <div class="position-absolute overflow-y-scroll">
                                        <p class="fs-1 pt-3 px-2">{{g?.totalRecensioniNumber}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="border shadow-sm mt-2 position-relative cat">
                                    <div class="w-100 bg-warning position-absolute top-0"></div>
                                    <div class="position-absolute">
                                        <p class="fs-1">Categoria</p>
                                    </div>
                                    <div class="position-absolute overflow-y-scroll">
                                        <p *ngFor="let c of g?.categorie" class="fs-4 px-2">
                                            {{c?.nome}}
                                        </p>
                                        <p *ngIf="g?.categorie == null || g?.categorie?.length==0" class="fs-4 px-2">
                                            Nessuna categoria ...
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="fs-1 pt-5">Difficoltà</p>
                                <div class="d-flex justify-content-center">
                                    <p class="star mx-3" *ngFor="let i of stars index as ind"
                                        [ngClass]="[ind<=g?.difficolta?'':'d-none',g.difficolta <=2?'bg-success':g.difficolta>4?'bg-danger':'bg-warning']">
                                    </p>
                                    <span class="px-2 rounded ml-2 shadow-sm" [style.height]="'fit-content'"
                                        [ngClass]="g.difficolta <=2?'bg-success':g.difficolta>4?'bg-danger':'bg-warning'">
                                        {{g.difficolta <=2?'easy':g.difficolta>4?'hard':'medium'}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container my-5 py-5">
            <div class="my-5 py-5">
                <p-accordion value="0">
                    <p-accordion-panel value="0">
                        <p-accordion-header class="fs-1 bg-light text-dark text-center border">
                            <h1 class="m-auto">
                                Lorem ipsum
                            </h1>
                        </p-accordion-header>
                        <p-accordion-content class="fs-2 bg-white border shadow">
                            <p class="m-0 p-4">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est
                                laborum.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est
                                laborum.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est
                                laborum.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                eu fugiat nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt mollit anim id est
                                laborum.
                            </p>
                        </p-accordion-content>
                    </p-accordion-panel>
                </p-accordion>
            </div>

        </div>
        <div class="container py-5 my-5">
            <div class="row dotted-background">
                <div class="col-md-6 py-5 p-5 text-center six-to-hover">
                    <h2>Lorem ipsum 🌄</h2>
                    <p class="fs-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                            class="text-danger">
                            laboris
                        </span>
                        nisi ut
                        aliquip
                        ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut
                        aliquip
                        ex ea commodo consequat.
                    </p>
                </div>
                <div class="col-md-6 py-5 text-center">
                    <img src="assets/home/images.png" alt="joystick_image" class="m-auto m-5 border shadow-lg shaking">
                </div>
                <div class="col-md-12 py-5 my-5">
                    <h1 class="text-center">
                        Lorem ipsum 🏞️
                    </h1>
                    <p class="fs-4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et
                        dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                            class="text-danger">
                            laboris.
                        </span>
                    </p>
                </div>
                <div class="col-xl-6 text-center position-relative six-relative">
                    <div class="position-absolute w-100 img-1">
                        <img src="assets/home/images.png" alt="image" class="border border-dark w-50 shadow">
                    </div>
                    <div class="lower-part-1 position-absolute w-100">
                        <p class="p-3 fs-4 w-50 m-auto bg-white border shadow text-dark">
                            <label class="fs-2 text-success">Lorem ipsum</label><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et
                            dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                                class="text-danger">
                                laboris.
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 text-center position-relative six-relative">
                    <div class="lower-part-2 position-absolute w-100">
                        <p class="p-3 fs-4 w-50 m-auto bg-white border text-dark shadow">
                            <label class="fs-2 text-success">Lorem ipsum</label><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et
                            dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                                class="text-danger">
                                laboris.
                            </span>
                        </p>
                    </div>
                    <div class="position-absolute w-100 img-2">
                        <img src="assets/home/images.png" alt="image" class="border border-dark w-50 shadow">
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-gradient-two text-center my-5 position-relative">
            <img src="assets/home/icons/insect.png" class="ant" alt="ant.png">
            <div class="col-md-12 py-5">
                <p class="fs-2 py-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                        class="text-danger">
                        laboris.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row position-relative overflow-personal">
            <div class="col-md-12 d-flex flex-direction-column ball-container position-absolute">
                <div *ngFor="let b of balls" class="p-2 rounded-circle position-absolute">
                </div>
            </div>
            <div class="col-md-6 py-5 my-5 z-3">
                <img src="assets/home/images.png" alt="joystick_image"
                    class="m-auto my-5 w-75 border shadow-lg shaking">
            </div>
            <div class="col-md-6 py-5 my-5 six-to-hover z-3">
                <h2>Lorem ipsum 🌌</h2>
                <p class="fs-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                        class="text-danger">
                        laboris
                    </span>
                    nisi ut
                    aliquip
                    ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut
                    labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut
                    aliquip
                    ex ea commodo consequat.
                </p>
            </div>
            <div class="col-md-4 col-12 p-5 z-3">
                <img src="assets/home/images.png" alt="image" class="border shadow rotation-image">
            </div>
            <div class="col-md-4 col-12 p-5 z-3">
                <img src="assets/home/images.png" alt="image" class="border shadow rotation-image">
            </div>
            <div class="col-md-4 col-12 p-5 z-3">
                <img src="assets/home/images.png" alt="image" class="border shadow rotation-image">
            </div>
            <div class="col-md-12 py-5 z-3">
                <h1>Lorem ipsum 🌟</h1>
                <div class="d-flex star-container">
                </div>
                <p class="fs-2 py-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                        class="text-danger">
                        laboris.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="row text-center position-relative overflow-hidden">
        <div class="col-md-12">
            <div id="stars"></div>
            <div id="stars2"></div>
            <div id="stars3"></div>
            <div id="stars4"></div>
        </div>
        <div class="col-md-12 border-col">
            <p class="fs-2 p-5 mx-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et
                dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et
                dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et
                dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                    class="text-danger">
                    laboris.
                </span>
            </p>
            <h1>Lorem ipsum 🧩</h1>
            <p class="fs-2 p-5 mx-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et
                dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et
                dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut
                labore et
                dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                    class="text-danger">
                    laboris.
                </span>
            </p>
        </div>
    </div>
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="p-5 border border-danger cube shadow-lg bg-light" *ngIf="windowWidth>767.20"></div>
            </div>
            <div class="col-md-6 py-5">
                <div class="p-2 position-relative rotate-left pr-1 p-3">
                    <div class="p-2 position-absolute ab-1 z-1"></div>
                    <div class="p-2 z-2 bg-white personal-pr-height text-center border">
                        <h1>Lorem ipsum</h1>
                        <p class="fs-4 z-3 position-absolute">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et
                            dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris.</p>
                        <div class="position-absolute bg-pink z-2 ball"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 py-5">
                <div class="p-2 position-relative pr-2 p-3">
                    <div class="p-2 position-absolute ab-2 z-1"></div>
                    <div class="p-2 bg-white z-2 personal-pr-height text-center border">
                        <h1>Lorem ipsum </h1>
                        <p class="fs-4 z-3 position-absolute">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit,
                            sed do eiusmod tempor
                            incididunt ut
                            labore et
                            dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris.</p>
                        <div class="position-absolute bg-danger z-2 ball"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center py-5">
                <div class="p-5 border border-danger cube shadow-lg bg-light" *ngIf="windowWidth>767.20"></div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center py-5">
                <div class="p-5 border border-danger cube shadow-lg bg-light" *ngIf="windowWidth>767.20"></div>
            </div>
            <div class="col-md-6 py-5">
                <div class="p-2 position-relative rotate-right pr-3 p-3">
                    <div class="p-2 position-absolute ab-3 z-1"></div>
                    <div class="p-2 bg-white z-2 personal-pr-height text-center border">
                        <h1>Lorem ipsum</h1>
                        <p class="fs-4 z-3 position-absolute">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor
                            incididunt ut
                            labore et
                            dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris.</p>
                        <div class="position-absolute bg-warning z-2 ball"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-5 my-5">
        <div
            class="col-md-12 bg-primary p-2 py-5 trasversal-row position-relative upper-div text-center z-2 border border-danger">
            <h1 class="text-light py-5">Lorem ipsum 🔝</h1>
            <div class="w-100 d-flex justify-content-center">
                <p class="fs-1 line-height p-2 mx-5  py-5 w-75 text-light ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco <span
                        class="text-danger">
                        laboris.
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row py-5 my-5">
            <div class="col-md-12 text-center py-5 ">
                <h1>Lorem Ipsum 🗝️</h1>
                <p class="fs-1 line-height z-3">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et
                    dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris.</p>
            </div>
            <div class="py-5 my-5"></div>
            <div class="row py-5 my-5 overflow-hidden m-auto">
                <div class="col-md-8 home-bottom my-3 py-3">
                    <div
                        class="position-relative bg-1 bg-white p-2 overflow-hidden d-flex justify-content-start border border-secondary shadow">
                        <p class="fs-2 w-75">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                            in
                            culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                        <div class="w-25 bg-warning" [style.minHeight]="'300px'"></div>
                    </div>
                </div>
                <div class="col-md-4 home-bottom mt-3 pt-3 text-center">
                    <div class="bg-info rounded-circle d-flex justify-content-center align-items-center">
                        <img src="assets/home/images.png" class="rounded-circle border" alt="image.png">
                    </div>
                    <p class="fs-3 pt-3"> Lorem ipsum dolor sit amet, fra poco lo imparo a memoria. </p>
                </div>
                <div class="col-md-4 home-bottom mt-5 pt-5 text-center">
                    <div class="bg-success rounded-circle d-flex justify-content-center align-items-center">
                        <img src="assets/home/images.png" class="rounded-circle border" alt="image.png">
                    </div>
                    <p class="fs-3 pt-3"> Lorem ipsum dolor sit amet, fra poco lo imparo a memoria. </p>
                </div>
                <div class="col-md-8 home-bottom mt-5 pt-5">
                    <div
                        class="position-relative p-2 bg-2 d-flex justify-content-end bg-white overflow-hidden text-end border border-secondary shadow">
                        <div class="w-25 bg-danger" [style.minHeight]="'300px'"></div>
                        <p class="fs-2 w-75 bg-white">
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                            in
                            culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                    </div>
                </div>
                <div class="col-md-6 p-3 py-5 my-5">
                    <div class="p-2 d-flex justify-content-center align-items-center bubble">
                        <div class="text text-center rounded-circle">
                            <div class="mt-5 pt-5">
                                <h2 class="pt-4">Lorem ipsum</h2>
                                <p class="fs-2">Random text to add random text to read random text.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3 py-5 my-5">
                    <div class="p-2 d-flex justify-content-center align-items-center bubble">
                        <div class="text text-center rounded-circle">
                            <div class="mt-5 pt-5">
                                <h2 class="pt-4">Lorem ipsum</h2>
                                <p class="fs-2">Random text to add random text to read random text.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <p class="text-center">
                        <button class="btn shadow border tab-button rounded-circle p-5 fs-2"
                            [ngClass]="tabIsOpen?'btn-danger':'btn-success'"
                            (click)="tabIsOpen = ! tabIsOpen;checkTabContainer()">{{tabIsOpen?'Close':'Open'}}</button>
                    </p>
                    <div class="row m-auto tab-container">
                        <div class="col-md-6 p-2">
                            <div class="row">
                                <div class="col-md-6 p-3 tab-card">
                                    <div class="p-2 border rounded shadow">
                                        <h1>Lorem ipsum</h1>
                                        <p class="fs-2">
                                            Lorem ipsum dolor sit amet. Questa parte la invento io per scrivere qualcosa
                                            in più.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 p-3 tab-card">
                                    <div class="p-2 border rounded shadow">
                                        <h1>Lorem ipsum</h1>
                                        <p class="fs-2">
                                            Lorem ipsum dolor sit amet. Questa parte la invento io per scrivere qualcosa
                                            in più.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 p-2">
                            <div class="row">
                                <div class="col-md-6 p-3 tab-card">
                                    <div class="p-2 border rounded shadow">
                                        <h1>Lorem ipsum</h1>
                                        <p class="fs-2">
                                            Lorem ipsum dolor sit amet. Questa parte la invento io per scrivere qualcosa
                                            in più.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 p-3 tab-card">
                                    <div class="p-2 border rounded shadow">
                                        <h1>Lorem ipsum</h1>
                                        <p class="fs-2">
                                            Lorem ipsum dolor sit amet. Questa parte la invento io per scrivere qualcosa
                                            in più.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 p-3 tab-card">
                            <div class="p-2 border rounded shadow">
                                <h1>Lorem ipsum</h1>
                                <p class="fs-2">
                                    Lorem ipsum dolor sit amet. Questa parte la invento io per scrivere qualcosa in più.
                                </p>
                                <p-button label="Click" severity="warn">
                                    <i class="pi pi-dollar pi-spin mx-1" style="font-size: 2rem"></i>
                                </p-button>
                            </div>

                        </div>
                        <div class="col-md-6 p-3 tab-card">
                            <div class="p-2 border rounded shadow">
                                <h1>Lorem ipsum</h1>
                                <p class="fs-2">
                                    Lorem ipsum dolor sit amet. Questa parte la invento io per scrivere qualcosa in più.
                                </p>
                                <p-button label="Click" severity="warn">
                                    <i class="pi pi-dollar pi-spin mx-1" style="font-size: 2rem"></i>
                                </p-button>
                            </div>

                        </div>
                        <div class="col-md-6 p-3 tab-card">
                            <div class="p-2 border rounded shadow">
                                <h1>Lorem ipsum</h1>
                                <p class="fs-2">
                                    Lorem ipsum dolor sit amet. Questa parte la invento io per scrivere qualcosa in più.
                                </p>
                                <p-button label="Click" severity="warn">
                                    <i class="pi pi-dollar pi-spin mx-1" style="font-size: 2rem"></i>
                                </p-button>
                            </div>

                        </div>
                        <div class="col-md-6 p-3 tab-card">
                            <div class="p-2 border rounded shadow">
                                <h1>Lorem ipsum</h1>
                                <p class="fs-2">
                                    Lorem ipsum dolor sit amet. Questa parte la invento io per scrivere qualcosa in più.
                                </p>
                                <p-button label="Click" severity="warn">
                                    <i class="pi pi-dollar pi-spin mx-1" style="font-size: 2rem"></i>
                                </p-button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <div class="row mt-5 pt-5">
                        <div class="col-12 pt-5 mt-5">
                            <h1>Try to order it ... </h1>
                        </div>
                        <div class="col-md-5 my-5 py-5" cdkDropList id="drag" [cdkDropListConnectedTo]="['drop']"
                            [cdkDropListData]="drag" (cdkDropListDropped)="onDrop($event)">
                            <div class="item" cdkDrag class="p-5 bg-danger my-5 border shadow"
                                *ngFor="let item of drag">
                                <h1> {{item}}
                                </h1>
                            </div>
                        </div>
                        <div class="col-2">

                        </div>
                        <div class="col-md-5 my-5 py-5" cdkDropList id="drop" [cdkDropListConnectedTo]="['drag']"
                            [cdkDropListData]="drop" (cdkDropListDropped)="onDrop($event)">
                            <div class="item" cdkDrag class="p-5 bg-light my-5 border shadow" *ngFor="let item of drop">
                                <h1> {{item}}
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>