<div mat-dialog-title class="text-center bg-secondary bg-gradient position-relative">
    {{action}}
    <i class="bi bi-x-lg h3 text-danger position-absolute" title="Chiudi" (click)="closeModal()"></i>
</div>
<div mat-dialog-content class=" bg-white">
    <div *ngIf="action.toUpperCase() == 'INFO CHAT'" class="text-start">
        <div *ngIf="chat?.chatType == 'GRUPPO'" class="d-flex justify-content-center my-3">
            <img src="{{'data:image/png;base64,'+chat?.image}}" alt="Immagine_chat"
                class="border shadow-sm rounded-circle" [style.width]="'120px'" [style.height]="'120px'">
        </div>
        <div *ngIf="chat?.chatType == 'GRUPPO'" class="my-3">
            <p class="fs-5">
                Nome gruppo
            </p>
            <div class="bg-light shadow-sm p-2 text-center">
                <p class="fs-3">
                    {{chat?.title}}
                </p>
            </div>
        </div>
        <div class="my-3">
            <p class="fs-5">
                Partecipanti
            </p>
            <div class="bg-light shadow-sm p-2 users-container">
                <p class="fs-3 d-flex justify-content-evenly user-panel" (click)="goToUser(u.id)"
                    *ngFor="let u of chat?.utenti">
                    <img src="{{u.immagineProfilo}}" alt="Immagine_profilo" class="border shadow-sm rounded-circle"
                        [style.width]="'70px'" [style.height]="'70px'">
                    <span class="fs-4">
                        {{u.fullName}}
                    </span>
                </p>
            </div>
        </div>
        <div class="my-3" *ngIf="chat?.chatType == 'GRUPPO'">
            <p class="fs-5">Amministratori del gruppo</p>
            <div class="row">
                <div class="col-md-3 p-2 text-center" *ngFor="let a of chat!.administrators">
                    <div class="w-100 border p-2">
                        <img src="{{a.immagineProfilo}}" alt="immagine profilo" [style.width]="'70px'"
                            [style.height]="'70px'" class="rounded-circle border shadow my-2">
                        <p class="fs-5">{{a.fullName}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3">
            <p class="fs-5">Creata</p>
            <div class="my-2 bg-light shadow-sm p-2 text-center">
                <p>{{chat?.createdAt}}</p>
            </div>
        </div>
    </div>
    <div *ngIf="action.toUpperCase() == 'AGGIUNGI PARTECIPANTE'" class="text-start my-3">
        <div *ngIf="possiblesUsersToAdd.length > 0 else noUsersToAdd" class="row">
            <div class="py-3">
                <p class="fs-5">Seleziona qualcuno <input type="text" class="rounded shadow-sm"
                        placeholder="Inizia a cercare ..."></p>
            </div>
            <div class="col-sm-3 text-center p-1" *ngFor="let u of possiblesUsersToAdd">
                <div class="border shadow p-2">
                    <div class="text-end">
                        <i class="bi bi-plus h2 fw-bolder text-success user-panel" (click)="addUserToChat(u)"
                            title="Seleziona"></i>
                    </div>
                    <img src="{{u.immagineProfilo}}" alt="Immagine_profilo" class="border shadow-sm rounded-circle"
                        [style.width]="'70px'" [style.height]="'70px'">
                    <p class="fs-4 user-panel" (click)="addUserToChat(u)">
                        {{u.fullName}}
                    </p>
                </div>
            </div>
        </div>
        <ng-template #noUsersToAdd>
            <p class="text-center">Non ci sono utenti da aggiungere alla chat.</p>
        </ng-template>
        <div *ngIf="addedUsers.length > 0 else noUsersAdded">
            <div class="py-3">
                <p class="fs-5">Partecipanti</p>
            </div>
            <p class="fs-3" *ngFor="let u of addedUsers" title="Rimuovi utente">
                <img src="{{u.immagineProfilo}}" alt="Immagine_profilo" class="border shadow-sm rounded-circle"
                    [style.width]="'70px'" [style.height]="'70px'">
                <span class="fs-4 user-panel" (click)="addUserToChat(u)">
                    {{u.fullName}}
                </span>
                <span class="text-end" *ngIf="chatNotIncludes(u)">
                    <i class="bi bi-dash-lg h2 fw-bolder text-danger user-panel" (click)="removeUserFromChat(u)"
                        title="Seleziona"></i>
                </span>
            </p>
        </div>
        <ng-template #noUsersAdded>

        </ng-template>
    </div>
    <div *ngIf="action.toUpperCase() == 'AGGIUNGI/RIMUOVI UN ADMIN' && chat?.chatType =='GRUPPO'"
        class="text-start my-3 row">
        <div class="col-12">
            <p class="fs-5">Amministratori</p>
        </div>
        <div class="col-md-3 p-2" *ngFor="let a of addedAdmins">
            <div class="w-100 border shadow p-2">
                <div class="text-end w-100">
                    <i class="bi bi-dash-lg text-danger fw-bolder h3 user-panel" (click)="removeAdmin(a)"></i>
                </div>
                <div (click)="goToUser(a.id)" class="user-panel">
                    <img src="{{a.immagineProfilo}}" alt="immagine profilo" [style.width]="'70px'"
                        [style.height]="'70px'" class="rounded-circle border shadow my-2">
                    <p class="fs-5">{{a.fullName}}</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="fs-5">Persone da nominare amministratori</p>
            <div class="row">
                <div class="col-md-3 p-2" *ngFor="let a of chat?.utenti">
                    <div class="w-100 border shadow p-2" *ngIf="!addedAdminsIds?.includes(a.id)">
                        <div class="text-end w-100">
                            <i class="bi bi-plus text-success fw-bolder h3 user-panel" (click)="addAdmin(a)"></i>
                        </div>
                        <div (click)="goToUser(a.id)" class="user-panel">
                            <img src="{{a.immagineProfilo}}" alt="immagine profilo" [style.width]="'70px'"
                                [style.height]="'70px'" class="rounded-circle border shadow my-2">
                            <p class="fs-5">{{a.fullName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="action.toUpperCase() == 'CAMBIA FOTO' && chat?.chatType =='GRUPPO'">
        <div class="row">
            <div class="col-md-12 text-start mt-3">
                <p class="fs-5">Cambia immagine</p>
            </div>
            <div class="col-md-12 my-3 text-center">
                <p class="text-end">
                    <i class="bi bi-plus-lg text-success h3 fw-bolder user-panel rounded-circle border border-success"
                        title="cambia foto..." (click)="file.click()"></i>
                    <input type="file" class="d-none" #file (change)="handleChangeImage($event)"
                        accept="image/png, image/jpg, image/jpeg">
                </p>
                <div [style.width]="'150px'" [style.height]="'150px'" (click)="file.click()"
                    style.backgroundImage="url('{{chatImageUrl?chatImageUrl :'assets/utils/avatar.jpg'}}')"
                    class="border shadow user-panel m-auto bg-white to-point">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="action.toUpperCase() == 'ELIMINA CHAT'">
        <div class="py-5">
            <p class="fs-3 delete-paragraph">Sei sicuro di volere <span class="text-danger"><u>eliminare</u></span>
                questa chat?</p>
            <p class="fs-6 fw-bold">L'azione è irreversibile *</p>
        </div>
    </div>
    <div *ngIf="action.toUpperCase() == 'ABBANDONA GRUPPO' && chat?.chatType == 'GRUPPO'">
        <div class="py-5">
            <p class="fs-3 delete-paragraph">Stai <span class="text-danger"><u>abbandonando</u></span>
                il gruppo : <br>
                {{chat?.title}}</p>
            <p class="fs-6 fw-bold">
                <u>Puoi comunque chiedere di essere reinserito ad un amministratore del gruppo, se
                    presente fra i tuoi contatti.
                </u>
            </p>
        </div>
    </div>
    <div *ngIf="action.toUpperCase().includes('BLOCCA')">
        <div class="py-5">
            <p class="fs-3 delete-paragraph">Stai <span class="text-danger"><u>bloccando</u></span> <br>
                {{getToBlock()}}</p>
            <p class="fs-6 fw-bold">
                <u>Puoi comunque sbloccare {{getToBlock()}} quando lo vorrai. Nel frattempo non potrà mandarti più
                    messaggi, ne richieste, ne potrà vedere i tuoi aggiornamenti.
                </u>
            </p>
        </div>
    </div>
    <div mat-dialog-actions *ngIf="action.toUpperCase()!='INFO CHAT'" class="d-flex justify-content-end">
        <button class="btn btn-light mx-1" (click)="handleAction()">{{action}}</button>
        <button class="btn btn-secondary mx-1" (click)="closeModal()">Chiudi</button>
    </div>