@import url('../../../../shared/style/style.scss');

ol {
    li {
        button {
            transition: 1s;

            &:hover {
                color: green;
                transition: 1s;
                scale: 1.1;
            }
        }
    }
}

.menu-item {
    transition: 1s !important;

    &:hover {
        color: green !important;
        transition: 1s !important;
    }
}

.to-point {
    height: 170px;
    width: 170px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: whitesmoke;
}