<div class="row text-center">
    <div class="col-md-12">
        <h2>Cerca un gioco</h2>
        <div class="w-100 text-start">
            <p><mat-slide-toggle labelPosition="before" [(ngModel)]="isChecked">Cerca giochi {{isChecked? 'attivi' :
                    'inattivi'}}</mat-slide-toggle></p>
        </div>
        <form [formGroup]="filterForms" class="row">
            <div class="col-sm-3"><label for="nome">
                    Nome gioco
                </label>
                <input class="form-control" placeholder="Inserisci il nome ..." formControlName="nome" name="nome"
                    id="nome">
            </div>
            <div class="col-sm-3"><label for="punteggio">
                    Media recensioni da
                </label>
                <input class="form-control" placeholder="Inserisci il punteggio ..." formControlName="punteggio"
                    name="punteggio" id="punteggio">
            </div>
            <div class="col-sm-3"><label for="difficolta">
                    Difficolta gioco
                </label>
                <input class="form-control" placeholder="Inserisci la difficolta..." formControlName="difficolta"
                    name="difficolta" id="difficolta">
            </div>
            <div class="col-sm-3">
                <label for="categoria">
                    Categoria gioco
                </label>
                <select name="categoria" id="categoria" formControlName="categoria" class="form-select"
                    *ngIf="categorie.length == 0 else categories">
                    <option value="" disabled>Non ci sono categorie disponibili</option>
                </select>
                <ng-template #categories>
                    <select name="categoria" id="categoria" formControlName="categoria" class="form-select">
                        <option value=""></option>
                        <option value="{{i.id}}" *ngFor="let i of categorie">{{i.nome}}</option>
                    </select>
                </ng-template>
            </div>
            <div class="col-sm-3">
                <label for="orderBy">
                    Ordinati per
                </label>
                <select name="orderBy" id="orderBy" formControlName="orderBy" class="form-select"
                    (change)="orderBy=filterForms.get('orderBy')?.value">
                    <option value=""></option>
                    <option value="{{i.value}}" *ngFor="let i of orders">{{i.label}}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="">Direzione ordine</label>
                <div class="row pt-1">
                    <div class="col-sm-6" *ngFor=" let s of sorts index as i">
                        <input type="radio" name="sortOrder" id="sortOrder{{i}}" formControlName="sortOrder"
                            value="{{s.value}}" (change)="sortOrder=s.value">
                        <label for="sortOrder{{i}}">{{s.label}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="items">
                    Elementi per pagina
                </label>
                <select name="items" id="items" formControlName="items" class="form-select"
                    (change)="size=filterForms.get('items')?.value; filterForms.get('page')?.setValue(0);">
                    <option value=""></option>
                    <option value="{{i.value}}" *ngFor="let i of sizes">{{i.label}}</option>
                </select>
            </div>
            <div class="col-sm-3" *ngIf="giochi">
                <label for="page">
                    Pagina
                </label>
                <select name="page" id="page" formControlName="page" class="form-select"
                    (change)="page=filterForms.get('page')?.value">
                    <option value=""></option>
                    <option value="{{i-1}}" *ngFor="let i of pages">{{i}}</option>
                </select>
            </div>
            <div class="col-12 p-2">
                <button class="btn" (click)="this.searchGiochi();">Cerca 🔎</button>
            </div>
        </form>
    </div>
    <div class="col-sm-12" *ngIf="giochiArray.length>0">
        <div class="row my-5 p-3 border shadow-lg" *ngIf="choosedGame">
            <div class="col-md-12" *ngIf="showModal&&choosedAction=='edit'&& choosedGame">
                <h2>Modifica le componenti del gioco</h2>
                <form [formGroup]="editGameForm" class="row">
                    <div class="col-md-4">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" placeholder="Modifica il nome ..."
                            formControlName="nome" class="form-control" (input)="handleEditedGame()">
                    </div>
                    <div class="col-md-4">
                        <label for="difficolta">Difficolta</label>
                        <input type="number" min="1" max="5" placeholder="Modifica la difficolta ..." id="difficolta"
                            name="difficolta" formControlName="difficolta" class="form-control"
                            (input)="handleEditedGame()">
                    </div>
                    <div class="col-md-4">
                        <label for="descrizione">Descrizione</label>
                        <textarea name="descrizione" id="descrizione" formControlName="descrizione" rows="3"
                            placeholder="Modifica la descrizione ..." class="form-control"
                            (input)="handleEditedGame()"></textarea>
                    </div>
                    <div class="col-md-12 my-5 text-center">
                        <h2 class="text-center">Modifica l'immagine</h2>
                        <div class="d-flex justify-content-around">
                            <div>
                                <p class="fs-5">Immagine corrente: </p>
                                <div style.background="url({{'data:image/png;base64,'+ choosedGame.image}})"
                                    [style.width]="'100px'" [style.height]="'100px'"
                                    class="rounded-circle border shadow-sm to-point">
                                </div>
                            </div>
                            <div>
                                <input type="file" #image class="d-none" (change)="handleImageEvent($event)"
                                    accept="image/png, image/gif, image/jpeg">
                                <button class="btn" title="Modifica immagine" *ngIf="!selectedImage"
                                    (click)="image.click()">
                                    <i class="bi bi-patch-plus"></i>
                                </button>
                                <p class="fs-5" *ngIf="selectedImage">Immagine scelta:</p>
                                <div id="uploadedImage" *ngIf="selectedImage" [style.width]="'100px'"
                                    [style.height]="'100px'" style.backgroundImage="url('{{choosedImageUrl}}')"
                                    class="rounded-circle border shadow-sm to-point">
                                </div>
                                <button class="btn" title="Elimina immagine" *ngIf="selectedImage"
                                    (click)="cleanImage()">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-5">
                        <h2>Modifica le categorie</h2>
                    </div>
                    <div class="col-md-3">
                        <label for="categorie pb-2 fs-2">Aggiungi una categoria</label>
                        <select name="categorie" id="categorie" class="form-select" #categorie
                            (change)="onAddCategory(categorie.value,categorie)">
                            <option value=""></option>
                            <option value="{{c.id}}" *ngFor="let c of availableChoosedGameCategories">{{c.nome}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-12 mb-4 mt-3">
                        <h2 class="text-center my-5">Categorie del gioco </h2>
                        <div class="row">
                            <div class="col-md-4 my-5" *ngFor="let c of choosedGame.categorie">
                                <span class="p-3 shadow-sm border bg-light fs-4">{{c.nome}}</span> <button
                                    class="btn text-danger" title="Elimina" (click)="onRemoveCategory(c)">X</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row m-auto" *ngIf="showModal&&choosedAction!=''&& choosedGame">
                <div class="col-12 border shadow-sm my-5">
                    <div class="row">
                        <div class="col-sm-12 bg-warning p-3 w-100 shadow-sm border position-relative">
                            <p class="fs-1 pt-3 text-center">{{editedChoosedGameName || choosedGame.nomeGioco}}</p>
                            <div class="position-absolute end-0 top-0 m-2">
                                <button class="btn btn-outline-success" *ngIf="choosedAction=='view'"
                                    (click)="manageGame('edit',choosedGame)"><i class="bi bi-pencil h3"></i></button>
                                <button class="btn btn-outline-danger" (click)="closeModal()"><i
                                        class="bi bi-x-lg h3"></i></button>
                            </div>
                        </div>
                        <div class="col-md-4 pt-2">
                            <div style.background="url({{'data:image/png;base64,'+ choosedGame.image}})"
                                [style.width]="'100px'" [style.height]="'100px'"
                                class="rounded-circle border shadow-sm to-point">
                            </div>
                        </div>
                        <div class="col-md-8 pt-2">
                            <p class="fs-4 w-75 m-auto">
                                {{editedChoosedGameDescription || choosedGame.descrizione}}
                            </p>
                        </div>
                        <div class="col-md-8">
                            <div class="row p-0 m-0 mt-2">
                                <div class="col-md-12">
                                    <p class="fs-2">Recensioni</p>
                                </div>
                                <div class="col-md-6 p-2" *ngFor="let r of choosedGame.recensione">
                                    <div class="w-100 border rounded shadow-sm">
                                        <p class="fs-4">{{r.commentoPreview}}</p>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img src="{{r.user.immagineProfilo}}" alt="user_image"
                                                    [style.width]="'60px'" [style.height]="'60px'"
                                                    class="rounded-circle m-auto border shadow m-auto">
                                            </div>
                                            <div class="col-md-8">
                                                {{r.user.fullName}}
                                            </div>
                                            <div class="col-12">
                                                <p class="fs-6">
                                                    {{r.createdAt}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-start" *ngIf="choosedGame.recensione.length>2">
                                    <button class="btn btn-transparent my-2" (click)="seeValidations(choosedGame)">Vedi
                                        tutte le
                                        recensioni</button>
                                </div>
                                <div class="col-md-12" *ngIf="choosedGame?.recensione?.length==0">
                                    <p class="fs-3">
                                        Non ci sono recensioni ancora ...
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 px-2">
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <p class="fs-2">Difficolta gioco </p>
                                </div>
                                <div class="col-md-12">
                                    <p class="text-center" *ngIf="!editedChoosedGameDifficult else editedDifficultNumb"
                                        [ngClass]="choosedGame.difficolta<=3?'text-success':choosedGame.difficolta<=4?'text-warning':'text-danger'">
                                        <span class="fw-bolder">{{choosedGame.difficolta}}</span>
                                    </p>
                                    <ng-template #editedDifficultNumb>
                                        <p class="text-center fs-3"
                                            [ngClass]="toNumber(editedChoosedGameDifficult)<=3?'text-success':toNumber(editedChoosedGameDifficult)<=4?'text-warning':'text-danger'">
                                            <span class="fw-bolder">{{toNumber(editedChoosedGameDifficult)}}</span>
                                        </p>
                                    </ng-template>
                                </div>
                                <div class="col-md-12">
                                    <p class="text-center fs-3 fw-bolder"
                                        *ngIf="!editedChoosedGameDifficult else editedDifficult"
                                        [ngClass]="choosedGame.difficolta<=3?'text-success':choosedGame.difficolta<=4?'text-warning':'text-danger'">
                                        {{choosedGame.difficolta
                                        <=3?'FACILE':choosedGame.difficolta<=4?'MEDIO':'DIFFICILE'}} </p>
                                            <ng-template #editedDifficult>
                                                <p class="text-center fs-3 fw-bolder"
                                                    [ngClass]="toNumber(editedChoosedGameDifficult)<=3?'text-success':toNumber(editedChoosedGameDifficult)<=4?'text-warning':'text-danger'">
                                                    {{toNumber(editedChoosedGameDifficult)
                                                    <=3?'FACILE':toNumber(editedChoosedGameDifficult)<=4?'MEDIO':'DIFFICILE'}}
                                                        </p>
                                            </ng-template>
                                </div>
                                <div class="col-md-12">
                                    <p class="fs-2 mt-2">Stato gioco:</p>
                                    <p class="fs-3 fw-bolder text-center"
                                        [ngClass]="choosedGame.active?'text-success':'text-danger'">
                                        {{choosedGame.active?"ATTIVO":"INATTIVO"}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-5" *ngIf="choosedAction=='edit'">
                    <button class="btn btn-outline-secondary border mb-3 fs-3"
                        matTooltip="Modifica {{choosedGame.nomeGioco}}" matTooltipPosition="above"
                        (click)="modifyGame(choosedGame)">
                        Modifica definitivamente
                    </button>
                </div>
            </div>
        </div>
        <h2>Tutti i giochi</h2>
        <div class="row">
            <div class="col-sm-6 col-md-4 p-3 " *ngFor="let g of giochiArray">
                <div class="overflow-hidden position-relative ">
                    <div class="position-absolute p-2 banner pe-none" [ngClass]="g.active?['active']:['inactive']">
                        {{g.active?'Attivo':'Inattivo'}}
                    </div>
                    <div class="border shadow-lg bg-light bg-gradient game-container">
                        <p class="bg-warning fs-1 p-1 py-4 border-bottom shadow-sm">{{g.nomeGioco}}</p>
                        <div class="col-md-12 p-2 text-center">
                            <div alt="immagine_gioco" class="w-100 to-point"
                                style.background="url('{{'data:image/png;base64,'+g?.image}}')">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 my-3 categoria fs-4 p-2" *ngFor="let c of g?.categorie">
                                {{c?.nome}}
                            </div>
                            <div class="col12 my-3 categoria fs-4 p-2" *ngIf="g?.categorie?.length==0 || !g?.categorie">
                                Nessuna
                                categoria
                            </div>
                        </div>
                        <hr class="py-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-4 text-center" *ngFor="let a of actions"
                                    [ngClass]="((a.action =='edit' || a.action == 'delete') && g.active == false) || (a.action == 'restore' && g.active== true)?'d-none':''">
                                    <button class="btn my-1 action" title="{{a.action}}"
                                        (click)="manageGame(a.action,g)">
                                        <i class="{{a.class}} h3"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12" *ngIf="giochi?.content?.length == 0">
        <h2>Non ci sono giochi presenti.</h2>
    </div>
</div>