@import url('../../../../shared/style/style.scss');

ol {
    li {
        button {
            transition: 1s;

            &:hover {
                color: green;
                transition: 1s;
                scale: 1.1;
            }
        }
    }
}

.menu-item {
    transition: 1s !important;

    &:hover {
        color: green !important;
        transition: 1s !important;
    }
}

.to-point {
    height: 170px;
    width: 170px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: whitesmoke;
}

.active {
    background-color: rgba($color: green, $alpha: .1);
    top: 40%;
    left: -30%;
    width: 160% !important;
    transform: rotate(-45deg);
}

.inactive {
    background-color: rgba($color: red, $alpha: .1);
    top: 40%;
    left: -30%;
    width: 160% !important;
    transform: rotate(-45deg);
}

.categoria {
    z-index: 5 !important;
    max-height: 39.98px !important;
    word-wrap: break-word;

}

.banner {
    z-index: 1;
}

.shadow-lg {
    box-shadow: 3px 3px 3px 3px dark !important;
}

.action {
    transition: .5s;

    &:hover {
        transition: .5s;
        scale: 1.2 !important;
    }
}

label {
    font-size: 30px !important;
    margin-bottom: 3%;
    margin-top: 3%;
}

.game-container {
    .to-point {
        transition: 1s;
    }

    &:hover {
        .to-point {
            transition: 1s;
            scale: 1.05;
        }
    }
}

form {

    input,
    select,
    button {
        font-size: 25px !important;
    }

    label {
        margin-bottom: 7% !important;
        margin-top: 4% !important;
    }
}

.gioco-container {
    transition: 1s;

    &:hover {
        box-shadow: 3px 3px 9px 9px gold;
        transition: 1s;
    }
}