<div mat-dialog-title class="p-3 text-center">
    <h2>Crea una chat o un gruppo!</h2>
</div>
<div mat-dialog-content class="p-5">
    <form [formGroup]="chatForm">
        <div class="d-flex mt-3">
            <div *ngFor="let ct of chatTypes index as i" class="mx-1">
                <input type="radio" name="chatType" id="chatType-{{i}}" formControlName="chatType"
                    class="form-check-input" value="{{ct}}">
                <label for="chatType-{{i}}" class="form-check-label px-2 text-info">{{ct}}</label>
            </div>
        </div>
        <div *ngIf="chatForm.controls['chatType']?.value" class="py-3">
            <label for="users" class="text-info">Chi aggiungi?</label>
            <div class="bg-light border p-2">
                <div *ngFor="let u of users index as i" class="m-1 bg-light border shadow-sm d-flex align-items-middle">
                    <div class="p-1">
                        <label for="checkbox-{{i}}" class="">
                            <img src="{{u.immagineProfilo}}" alt="Immagine del profilo di {{u.fullName}}"
                                [style.width]="'50px'" [style.height]="'50px'"
                                class="border mt-2 rounded-circle shadow">
                        </label>
                    </div>
                    <div class="p-1">
                        <label class="px-1 mt-3 fs-3" for="checkbox-{{i}}">{{u.fullName}}</label>
                    </div>
                    <div class="p-1">
                        <input type="checkbox" id="checkbox-{{i}}" (change)="manipulateUser(u,i)" [style.width]="'15px'"
                            [style.height]="'15px'" class="mt-3 p-2">
                    </div>
                </div>
            </div>
            <div *ngIf="chatForm.controls['chatType'].value == 'GRUPPO'" class="row py-3">
                <div class="col-md-6 position-relative">
                    <label for="title" class="text-info">Nome del gruppo</label>
                    <input name="title" id="title" placeholder="Inserisci un titolo ..." formControlName="title"
                        class="form-control position-absolute bottom-0" />
                </div>
                <div class="col-md-6">
                    <label for="users" class="pb-4 text-info">Immagine</label>
                    <input type="file" name="image" id="image" formControlName="image" class="d-none" #file
                        (change)="handleImageEvent($event)" accept="image/png, image/gif, image/jpeg">
                    <div class="rounded-circle shadow group-image m-auto" (click)="file.click()"
                        style.backgroundImage="url('{{choosedImageUrl || 'assets/utils/avatar.png'}}')"></div>
                    <div class="text-end pt-2" *ngIf="choosedImageUrl">
                        <button class="btn btn-secondary" (click)="cleanImage()">rimuovi</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="py-3 row" *ngIf="chatForm.controls['chatType']?.value">
        <div class="col-md-12">
            <p class="fs-4 text-info"> Partecipanti</p>
        </div>
        <div class="col-4 p-1 d-flex" *ngFor="let ad of addedUsers">
            <div class="p-1 border shadow-sm text-center">
                <img src="{{ad.immagineProfilo}}" alt="Immagine del profilo di {{ad.fullName}}" [style.width]="'80px'"
                    [style.height]="'80px'" class="border my-2 shadow m-auto">
                <p>{{ad.fullName}} <span *ngIf="ad.id==user!.id">(tu)</span></p>
            </div>
            <div class="text-end" *ngIf="ad.id!=user!.id">
                <button class="btn fw-bolder text-white bg-danger rounded-circle" title="rimuovi {{ad.fullName}}" (click)="removeUser(ad)">-</button>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="p-3 text-end">
    <button class="btn btn-light" *ngIf="addedUsers.length > 0" (click)="saveChat()">Salva</button>
    <button class="btn btn-secondary" (click)="close(null)">Annulla</button>
</div>