<div class="container">
    <div class="row m-2">
        <div class="col-md-6 p-2 border bg-light shadow"
        [ngClass]="windowWidth>500?'d-flex align-items-baseline justify-content-evenly':''">
            <div id="uploadedImage" [style.width]="'100px'" [style.height]="'100px'"
                style.backgroundImage="url('{{user?.immagineProfilo}}')"
                class="rounded-circle border shadow-sm to-point">
            </div>
            <div class="my-2">
                <p class="fs-4 pb-2">
                    {{user?.fullName}}
                </p>
            </div>
        </div>
    </div>