.to-point {
  height: 150px;
  width: 150px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: whitesmoke;
}

.to-point-sm {
  height: 40px !important;
  width: 40px !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: whitesmoke;
}

ul {
  list-style-type: none;

  .chat-element {
    transition: 1s;

    &:hover {
      transition: 1s;
      background-color: rgb(214, 214, 214);
    }
  }
}

.filtered-chat {
  max-height: 100px;
}

.chat-list {
  li {
    cursor: pointer;
    padding-top: 3%;
    transition: 1s;

    &:hover {
      background-color: rgb(235, 235, 235);
      transition: 1s;
    }
  }
}

i {
  cursor: pointer;
}

.mat-menu {
  max-height: 150px;
  width: auto;
}

.chat-container {
  height: 700px;
}

.chat-col {
  height: 700px;
}

.message-form {
  position: absolute;
  bottom: 5px;
  left: auto;
}

.message-container {
  height: 400px !important;
  overflow: auto;
  scroll-behavior: smooth;
}

.header-col {
  max-height: 113px !important;
}

.chat-menu {
  cursor: pointer;
}

.new {
  max-height: fit-content;
}

.bg-personal {
  background-color: gray;
}

.span-circle {
  width: 13px;
  height: 13px;
}

.no-pic {
  height: 0px !important;
}

.chat-options-menu-item {
  cursor: pointer;
}