
.to-point {
  height: 150px;
  width: 150px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: whitesmoke;
}