<div class="w-100 py-5 m-0" [ngClass]="mode=='light'?'bg-white':'bg-personal'">
    <div class="container">
        <div class="row m-2">
            <div class="col-md-6 p-2 text-center">
                <div class="row">
                    <div class="col-md-12 py-2">
                        <div id="uploadedImage" [style.width]="'100px'" [style.height]="'100px'"
                            style.backgroundImage="url('{{user?.immagineProfilo}}')"
                            class="rounded-circle border shadow-sm to-point m-auto">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="fs-4 pb-2">
                            {{user?.fullName}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 py-5">
                <div class="row border shadow text-center chat-container"
                    [ngClass]="mode=='light'?['bg-light','text-dark']:['bg-dark','text-white']">
                    <div class="col-md-4 border border-top-0 border-start-0 border-bottom header-col">
                        <div class="row">
                            <div class="col-10">
                                <p class="fs-4 pt-3">Le tue chat</p>
                            </div>
                            <div class="col-2 text-start">
                                <i class="bi bi-patch-plus pt-3" title="Aggiungi chat" (click)="addChat()"></i>
                            </div>
                        </div>
                        <form [formGroup]="chatForm" class="d-flex justify-content-evenly">
                            <input type="text" placeholder="Cerca fra le chat ..." formControlName="search" id="search"
                                name="search" class="form-control w-75 m-auto my-1" (input)="this.chatForm.controls['search'].value.length == 1
                            &&
                            !isChatMenuOpen?checkIsOpenMenu(chatMenuMenu)
                            :this.chatForm.controls['search'].value.length == 0
                            &&
                            isChatMenuOpen? checkIsOpenMenu(chatMenuMenu):'';searchOpenedUsers();">
                            <i class="bi bi-list pt-2 user-panel" *ngIf="windowWidth<767.2"
                                title="Apri il menu delle chat" (click)="isOpenSmallChatMenu=!isOpenSmallChatMenu"></i>
                        </form>
                        <div class="w-100 position-relative" *ngIf="isOpenSmallChatMenu">
                            <div class="position-absolute w-50 z-3 pt-4 end-0">
                                <ul class="chat-list py-2 h-100 overflow-auto z-0">
                                    <li *ngFor="let chat of chatList" (click)="selectChat(chat,chatMenuMenu)"
                                        class="d-flex justify-content"
                                        [ngClass]="isUserBlocked(chat)?'bg-secondary bg-gradient':''"
                                        title="{{chat.chatType=='SINGOLA'?'Chat singola':'Chat di gruppo'}}">
                                        <p class="fs-6 text-danger" *ngIf="isUserBlocked(chat)">Utente bloccato</p>
                                        <div id="uploadedImage" [style.width]="'100px'" [style.height]="'100px'"
                                            style.backgroundImage="url('{{getChatImage(chat)}}')"
                                            class="rounded-circle border shadow-sm to-point-sm mx-2">
                                        </div>
                                        <p class="pt-2">
                                            {{chat.title}}
                                        </p>
                                        <span class="p-1 rounded-circle span-circle"
                                            [ngClass]="checkChat(chat)?'bg-success':chat.chatType=='SINGOLA'?'bg-danger':'d-none'"></span>
                                        <span class="bg-secondary new rounded mx-1 px-1"
                                            *ngIf="checkNewMessages(chat)">new</span>
                                    </li>
                                    <li *ngIf="chatList?.length == 0"> Non ci sono chat disponibili ancora!</li>
                                </ul>
                            </div>
                        </div>
                        <div class="overflow-auto z-2 chat-menu py-2 d-none bg-light position-relative" #chatMenuMenu>
                            <ul class="text-start filtered-chat overflow-auto">
                                <li *ngFor="let u of filteredChatList" (click)="selectChat(u,chatMenuMenu)"
                                    class="chat-element py-1">
                                    {{u.title}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 border border-top-0 border-start-0 border-bottom header-col"
                        *ngIf="windowWidth>767.20">
                        <div class="d-flex justify-content-end position-relative">
                            <i class="bi bi-three-dots mx-2 h3" [ngClass]="selectedChat?'':'d-none'" title="Menù"
                                (click)="checkChatOptions()"></i>
                            <i class="bi bi-x-lg text-danger h3" [ngClass]="selectedChat?'':'d-none'"
                                title="Chiudi chat" (click)="deleteSelectedChat(null)" title="Chiudi chat"></i> <br>
                            <div class="d-flex justify-content-end position-absolute end-0 chat-options-menu mt-5"
                                *ngIf="openChatOptionsMenu">
                                <div [ngClass]="windowWidth>737?'w-25':'w-50'"
                                    [ngClass]="mode=='light'?'bg-white':'bg-secondary text-dark'"
                                    class="p-2 bg-gradient shadow border">
                                    <p *ngFor="let o of chatOptionsMenu index as i" title="{{o}}"
                                        class="chat-options-menu-item"
                                        [ngClass]="(i+1) == chatOptionsMenu.length?'text-danger':''"
                                        (click)="manageOptions(o)">
                                        <span *ngIf="(adminNotRequired(o)&&!userIdInchatAdministratorsIds())
                                        ||
                                        (userIdInchatAdministratorsIds())">
                                            {{o.toUpperCase()}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="fs-4 pb-4 d-flex justify-content-center vertical-align-center align-items-center"
                            (click)="goToUser()"
                            [ngStyle]="{'cursor':selectedChat!=null?selectedChat.chatType=='SINGOLA'?'pointer':'':''}">
                            <div style.backgroundImage="url('{{takeChatPhoto()}}')" class="border shadow to-point"
                                [ngClass]="selectedChat?'':'d-none'" [style.width]="'70px'" [style.height]="'70px'">
                            </div>
                            <span class="mx-2">
                                {{!selectedChat?'Inizia una chat ... 💬':selectedChat.title?selectedChat.title:
                                'La tua chat con ' +
                                getUserByExclusion(selectedChat!)}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 border border-top-0 border-start-0 border-bottom text-center"
                        *ngIf="windowWidth>767.20">
                        <ul class="chat-list py-2 h-100 overflow-auto z-0">
                            <li *ngFor="let chat of chatList" (click)="selectChat(chat,chatMenuMenu)"
                                class="d-flex justify-content"
                                [ngClass]="isUserBlocked(chat)?'bg-secondary bg-gradient':''"
                                title="{{chat.chatType=='SINGOLA'?'Chat singola':'Chat di gruppo'}}">
                                <p class="fs-6 text-danger" *ngIf="isUserBlocked(chat)">Utente bloccato</p>
                                <div id="uploadedImage" [style.width]="'100px'" [style.height]="'100px'"
                                    style.backgroundImage="url('{{getChatImage(chat)}}')"
                                    class="rounded-circle border shadow-sm to-point-sm mx-2">
                                </div>
                                <p class="pt-2">
                                    {{chat.title}}
                                </p>
                                <span class="p-1 rounded-circle span-circle"
                                    [ngClass]="checkChat(chat)?'bg-success':chat.chatType=='SINGOLA'?'bg-danger':'d-none'"></span>
                                <span class="bg-secondary new rounded mx-1 px-1"
                                    *ngIf="checkNewMessages(chat)">new</span>
                            </li>
                            <li *ngIf="chatList?.length == 0"> Non ci sono chat disponibili ancora!</li>
                        </ul>
                    </div>
                    <div class="col-md-8 text-center position-relative">
                        <div class="text-end" *ngIf="windowWidth<767.20 && selectedChat">
                            <div class="d-flex justify-content-end">
                                <i class="bi bi-three-dots mx-2 h3" [ngClass]="selectedChat?'':'d-none'" title="Menù"
                                    (click)="checkChatOptions()"></i>
                                <i class="bi bi-x-lg text-danger h3" [ngClass]="selectedChat?'':'d-none'"
                                    title="Chiudi chat" (click)="deleteSelectedChat(null)" title="Chiudi chat"></i>
                                <br>
                                <div class="d-flex justify-content-end position-relative chat-options-menu mt-5"
                                    *ngIf="openChatOptionsMenu">
                                    <div [ngClass]="windowWidth>737?'w-25':'w-50'"
                                        [ngClass]="mode=='light'?'bg-white':'bg-secondary text-dark'"
                                        class="p-2 bg-gradient shadow border position-absolute end-0">
                                        <p *ngFor="let o of chatOptionsMenu index as i" title="{{o}}"
                                            class="chat-options-menu-item"
                                            [ngClass]="(i+1) == chatOptionsMenu.length?'text-danger':''"
                                            (click)="manageOptions(o)">
                                            <span *ngIf="(adminNotRequired(o)&&!userIdInchatAdministratorsIds())
                                        ||
                                        (userIdInchatAdministratorsIds())">
                                                {{o.toUpperCase()}}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p *ngIf="windowWidth<767.20 && selectedChat" class="fs-4 bolder py-2">
                            <img src="{{takeChatPhoto()}}" alt="immagine_chat" class="border shadow"
                                [style.width]="'70px'" [style.height]="'70px'"> {{selectedChat.title}}
                        </p>
                        <div class="m-auto text-center py-5 overflow-auto" *ngIf="!selectedChat">
                            <h1>💬 ...</h1>
                        </div>
                        <div class="message-container">

                            <div *ngIf="selectedChat?.messaggi" class="position-relative">
                                <div class="position-absolute top-50 lef-25" *ngIf="isUserBlocked(selectedChat!)">
                                    <h1>Utente bloccato</h1>
                                </div>
                                <div *ngFor="let m of selectedChat!.messaggi index as i;">
                                    <p *ngIf="m.sender.id!=user!.id" class="text-start name-container"
                                        (click)="goToUser(m.sender.id)"
                                        [ngClass]="selectedChat!.messaggi[i-1]!=null?selectedChat!.messaggi[i-1].sender.id==m.sender.id ?'d-none no-pic':'':''">
                                        {{m.sender.fullName}}</p><br>
                                    <div class="d-flex justify-content-start text-dark" *ngIf="m.sender.id!=user!.id">
                                        <img src="{{m.sender.immagineProfilo}}"
                                            [ngClass]="
                                            selectedChat!.messaggi[i-1]!=null?selectedChat!.messaggi[i-1].sender.id==m.sender.id ?'d-none':'':''"
                                            alt="immagine di {{m.sender.fullName}}" [style.width]="'30px'"
                                            [style.height]="'30px'" class="rounded-circle mx-1 shadow"
                                            title="{{m.sender.fullName}}">
                                        <p class="my-1 rounded shadow text-start p-2" [style.width]="'fit-content'"
                                            [ngClass]="mode=='light'?'bg-light':'bg-secondary'">
                                            {{m.text}}
                                        </p>
                                        <span class="p-1"
                                            *ngIf="selectedChat!.messaggi[i+1]==null || 
                                            (selectedChat!.messaggi[i+1]!=null && selectedChat!.messaggi[i+1].sender.id != m.sender.id)">
                                            <i class="bi bi-check2-all h3 fw-bolder" *ngIf="m.state=='SENT'"
                                                title="Inviato"></i>
                                            <i class="bi bi-check2-all h3 fw-bolder" title="Letto"
                                                *ngIf="m.state=='READ' && m.readers.length<(m.receivers.length)"></i>
                                            <i class="bi bi-check2-all text-info h3 fw-bolder" title="Letto"
                                                *ngIf="m.state=='READ' && m.readers.length>=(m.receivers.length)"></i>
                                        </span>
                                    </div>
                                    <p *ngIf="m.sender.id==user!.id" class="text-end name-container"
                                        (click)="goToUser(m.sender.id)"
                                        [ngClass]="selectedChat!.messaggi[i-1]!=null?selectedChat!.messaggi[i-1].sender.id==m.sender.id ?'d-none no-pic':'':''">
                                        {{m.sender.fullName}}</p>
                                    <div class="d-flex justify-content-end text-dark" *ngIf="m.sender.id==user!.id">
                                        <span class="p-1"
                                            *ngIf="selectedChat!.messaggi[i+1]==null || 
                                            (selectedChat!.messaggi[i+1]!=null && selectedChat!.messaggi[i+1].sender.id != m.sender.id)">
                                            <i class="bi bi-check2-all h3 fw-bolder" *ngIf="m.state=='SENT'"
                                                title="Inviato"></i>
                                            <i class="bi bi-check2-all h3 fw-bolder" title="Letto"
                                                *ngIf="m.state=='READ' && m.readers.length<(m.receivers.length)"></i>
                                            <i class="bi bi-check2-all text-info h3 fw-bolder" title="Letto"
                                                *ngIf="m.state=='READ' && m.readers.length>=(m.receivers.length)"></i>
                                        </span>
                                        <p class="my-1 bg-info rounded shadow text-end p-2"
                                            [style.width]="'fit-content'" title="{{m.createdAt}}">
                                            {{m.text}}
                                        </p>
                                        <img [ngClass]="selectedChat!.messaggi[i-1]!=null?selectedChat!.messaggi[i-1].sender.id==m.sender.id ?'d-none':'':''"
                                            src="{{m.sender.immagineProfilo}}" alt="immagine di {{m.sender.fullName}}"
                                            [style.width]="'30px'" [style.height]="'30px'"
                                            class="rounded-circle mx-1 shadow" title="{{m.sender.fullName}}">
                                    </div>
                                </div>
                            </div>
                            <form [formGroup]="messageForm" *ngIf="selectedChat"
                                class="d-flex justify-content-evenly m-auto w-100 mt-2 mx-1 message-form">
                                <textarea name="message" id="message" formControlName="message"
                                    class="form-control -75 mx-1" rows="2"></textarea>
                                <button class="mx-1 btn" [disabled]="messageNotValid()" (click)="sendMessage()"
                                    [ngClass]="mode=='light'?'text-dark':'text-white'">Invia</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>