<div class="row text-center">
    <div class="col-12 my-5">
        <h1>Scopa</h1>
    </div>
    <div class="col-md-3">
        <p class="fs-3">
            Seleziona la modalità
        </p>
        <form [formGroup]="modalitaForm">
            <div class="d-flex">
                <input type="radio" formControlName="modalita" id="computer" value="computer">
                <label for="computer" class="mx-2">Computer</label>
            </div>
            <div class="d-flex">
                <input type="radio" formControlName="modalita" id="live" value="live">
                <label for="live" class="mx-2">Live game</label>
            </div>
        </form>
    </div>
    <div class="col-md-9" *ngIf="modalitaForm.controls['modalita'].value=='computer'">
        <button class="btn my-5 btn-success p-2" (click)="startComputerGame()" *ngIf="!gameHasStarted"
            matTooltip="Inizia una partita contro il computer" matTooltipPosition="above">
            Inizia
        </button>
        <div class="row" *ngIf="gameHasStarted">
            <p class="fs-1 my-5" *ngIf="count!=0">Il gioco sta per iniziare</p>
            <p class="text-center fs-1" *ngIf="count!=0">
                {{count}}
            </p>
            <div class="row" *ngIf="count==0">
                <div class="col-12">
                    <p class="text-danger fs-1 fw-bold" *ngIf="tourn=='computer'">IL COMPUTER STA GIOCANDO</p>
                    <p class="text-success fs-1 fw-bold" *ngIf="tourn=='user'">E' IL TUO TURNO</p>
                </div>
                <div class="col-12">
                    <h2>Computer</h2>
                </div>
                <div class="col-4 p-3" *ngFor="let c of computerCards">
                    <div class="border shadow-sm">
                        <p class="text-end fs-2">{{c.group}}</p>
                        <p class="text-center my-5 fs-2"
                            [ngClass]="c.group =='🗡️'?'text-info':c.group=='🪓'?'text-success':c.group=='🫖'?'text-danger':'text-warning'">
                            {{c.value}}
                        </p>
                    </div>
                </div>
                <div class="row p-3 bg-success border shadow-sm">
                    <div class="col-3 p-3" *ngFor="let c of tableCards">
                        <div class="border shadow-sm bg-light" (click)="selectCard(c)"
                            [ngStyle]="selectedCard.includes(c)?{'scale':'1.1'}:{}">
                            <p class="text-end fs-2">{{c.group}}</p>
                            <p class="text-center my-5 fs-2"
                                [ngClass]="c.group =='🗡️'?'text-info':c.group=='🪓'?'text-success':c.group=='🫖'?'text-danger':'text-warning'">
                                {{c.value}}
                            </p>
                        </div>
                    </div>
                    <div class="col-3 p-3" >
                        <div class="border shadow-sm bg-light" (click)="release = !release"
                            [ngStyle]="release?{'scale':'1.1'}:{}">
                            <p class="text-end fs-2"><i class="bi bi-plus h2"></i></p>
                            <p class="text-center my-5 fs-2 text-success">
                                <i class="bi bi-plus h1"></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class=" col-12">
                    <h2>Tu</h2>
                </div>
                <div class="col-4 p-3" *ngFor="let c of yourCards">
                    <div class="border shadow-sm" (click)="chooseCard(c)">
                        <p class="text-end fs-2">{{c.group}}</p>
                        <p class="text-center my-5 fs-2"
                            [ngClass]="c.group =='🗡️'?'text-info':c.group=='🪓'?'text-success':c.group=='🫖'?'text-danger':'text-warning'">
                            {{c.value}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>