label,
input[type="radio"] {
    cursor: pointer;
}

th,
td {
    color: black !important;
    background-color: white !important;
}
p-paginator {
    div {
        color: black !important;
        background-color: white !important;
    }
}

span {
    color: black !important
}